<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="Registration" value="Pastore_Test3_Api_1_PROD" 
            xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="ida:Audience" value="https://dosinvest.onmicrosoft.com/10472920-9ab2-4b42-8b26-736bd051ff0a"
            xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </appSettings>
    <log4net  xdt:Transform="Replace">
        <root>
            <level value="DEBUG" />
            <appender-ref ref="LogFileAppender" />
        </root>
        <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
            <param name="File" value="D:\home\LogFiles\api.log" />
            <param name="AppendToFile" value="true" />
            <rollingStyle value="Date" />
            <datePattern value="yyyyMMdd" />
            <staticLogFileName value="false" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
            </layout>
        </appender>
        <logger name="SleepyCore">
            <level value="DEBUG" />
        </logger>
    </log4net>
    <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
    <connectionStrings>
        <add name="LiteDB"
          connectionString="Filename=D:\local\AppData\database.db"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
        <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    </system.web>
</configuration>